VRS.AdminApp/Connected Services/VRSServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/VRS.Repository.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/VRS.WebApi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_VerifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyUser" />
  </wsdl:message>
  <wsdl:message name="IService_VerifyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRents" />
  </wsdl:message>
  <wsdl:message name="IService_GetRents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClientsForName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsForName" />
  </wsdl:message>
  <wsdl:message name="IService_GetClientsForName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsForNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicles" />
  </wsdl:message>
  <wsdl:message name="IService_GetVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FinishRent_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishRent" />
  </wsdl:message>
  <wsdl:message name="IService_FinishRent_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishRentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateRent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRent" />
  </wsdl:message>
  <wsdl:message name="IService_CreateRent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="VerifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VerifyUser" message="tns:IService_VerifyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VerifyUserResponse" message="tns:IService_VerifyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRents" message="tns:IService_GetRents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRentsResponse" message="tns:IService_GetRents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUsers" message="tns:IService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersResponse" message="tns:IService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClients" message="tns:IService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientsResponse" message="tns:IService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsForName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClientsForName" message="tns:IService_GetClientsForName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientsForNameResponse" message="tns:IService_GetClientsForName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVehicles" message="tns:IService_GetVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVehiclesResponse" message="tns:IService_GetVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishRent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FinishRent" message="tns:IService_FinishRent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FinishRentResponse" message="tns:IService_FinishRent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateRent" message="tns:IService_CreateRent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateRentResponse" message="tns:IService_CreateRent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyUser">
      <soap:operation soapAction="http://tempuri.org/IService/VerifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRents">
      <soap:operation soapAction="http://tempuri.org/IService/GetRents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsForName">
      <soap:operation soapAction="http://tempuri.org/IService/GetClientsForName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicles">
      <soap:operation soapAction="http://tempuri.org/IService/GetVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishRent">
      <soap:operation soapAction="http://tempuri.org/IService/FinishRent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRent">
      <soap:operation soapAction="http://tempuri.org/IService/CreateRent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/VRS.WebApi/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>